<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>
    <div class="top-actions">
    <a class="btn new-post-btn" href="{{ url_for('add') }}">➕ Neuer Post</a>
    </div>
    {% for post in posts %}
    <div class="post">
        <h2>{{ post.title }}</h2>

        <p><em>Written by {{ post.author }}</em></p>

        <p>{{ post.content }}</p>

        <div class="post-actions">

            <a class="btn update-btn"
               href="{{ url_for('update', post_id=post.id) }}">
                ✏️ Update
            </a>

            <form action="{{ url_for('delete', post_id=post.id) }}" method="post">
                <button class="btn delete-btn" type="submit">
                    🗑️ Delete
                </button>
            </form>

            <form action="{{ url_for('like', post_id=post.id) }}" method="post">
                <button class="btn like-btn" type="submit">
                    👍 {{ post.likes }}
                </button>
            </form>

        </div>

    </div>
    {% endfor %}
</body>
</html>
